* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boxes-height: 550px;
  --boxes-width: 500px;
  --boxes-padding: 50px;
  --boxes-border-radius: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Roboto", sans-serif; */
  color: rgb(192, 192, 192);
  user-select: none;
}

hr {
  width: 80%;
  margin: auto;
}

.main-header {
  top: 0px;
  height: 4rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 45px;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.boxes-header {
  top: 0px;
  height: 4rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 30px;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 5px 5px 0px 0px;
}

.add-subtract {
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 10px;
  user-select: none;
}

.add-subtract > p {
  font-size: 25px;
  padding: 5px;
}
.plus-sign {
  font-size: 30px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: row;

  padding: var(--boxes-padding);

  margin-top: 5%;
  justify-content: space-around;
  position: relative;
  z-index: 55;
}

.meals {
  width: var(--boxes-width);
  height: var(--boxes-height);
  box-shadow: 0px 0px 10px black;
  border-radius: var(--boxes-border-radius);
  background-color: rgb(216, 216, 216);
}

.grocery-list {
  width: var(--boxes-width);
  height: var(--boxes-height);
  box-shadow: 0px 0px 10px black;
  border-radius: var(--boxes-border-radius);
  background-color: rgb(216, 216, 216);
}

.add-meal-modol {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgb(216, 216, 216);
  z-index: 100;

  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 0px 10px black;
}

.add-meal-form {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.Add-meal-form-input {
  text-align: center;
  border-radius: 5px;
  width: 70%;
  height: 35px;
  font-size: 20px;
  margin-right: 5px;
}

.meal-section {
  width: 80%;
  height: 80%;
  border: black solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 0px 0px 5px black;
  background-color: white;
  color: black;
}

.meal-section > h1 {
  text-align: center;
}
.ingredients-list-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  overflow-y: auto;
  padding-right: 10px;
}
.ingredients-list {
  color: black;
  font-size: 20px;
}

.ingredients-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remove-ingredient {
  font-size: 20px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}
.remove-ingredient:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.2, 1.2);
}

.add-meal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 100;
  text-align: center;
  padding: 15px;
}

.created-meals-list-container {
  color: black;
  margin: auto;
  padding: 15px;
  width: 90%;
  height: 70%;
  border: rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;

  display: flex;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.created-meals {
  flex-shrink: 0;
  border: black solid;
  height: 250px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  overflow-y: auto;

  scroll-snap-align: start;
}
.created-meals > ul {
  list-style: none;
  padding: 1px;
}

.created-grocery-list-container {
  margin: auto;
  margin-top: 4rem;
  border: rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
  width: 90%;
  height: 70%;
  overflow-y: auto;
  padding: 15px;
}

/* ========= */
/* Background animation */
/* ========= */
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
